    body{
     background:#121212;
    color:white;
}
h1{
    text-align:center;
    font-size:50px;
    font-weight:bold;
    background: linear-gradient(
        90deg,
        #00e5ff,
        #3b82f6,
        #8b5cf6,
        #ff00ff
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom:10px;
}
#slider-panel{
    display:flex;
    justify-content:center;
    gap:100px;
    border:1px solid #333;
    border-radius:15px;
    padding:20px;
    margin-bottom:20px;
}
.slider-box{
    text-align:center;
}
.labels{
    display:flex;
    justify-content:space-between;
}
#controls{
    display:flex;
    justify-content:center;
    gap:10px;
    flex-wrap:wrap;
    margin-bottom:20px;
}
#subtitle{
    text-align:center;
    color:gray;
    margin-bottom:25px;
}
#array-container{
    height:400px;
    border:1px solid #333;
    border-radius:15px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    gap:2px;
    padding:10px;
}
#controls{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:20px;
}
button{
    padding:10px 15px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
.bar{
     width: 20px;
     background-color: rgb(21, 255, 0);
     border: 2px solid black;
}
#legend{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:15px;
    color:white;
}
